@use "../../../styles/helper/" as *;

.slider {
  position: relative;
}

.arrow {
  font-size: 2rem;
  color: $white;
  position: absolute;
  top: 40%;
  cursor: pointer;

  &__left {
    left: 5%;
    &:hover {
      color: $primary;
    }
  }

  &__right {
    right: 5%;
    &:hover {
      color: $primary;
    }
  }
}

