// @use "../helper/colors" as *;
@import "../helper/colors";

.logoWrapper {
  color: $logo;
  font-weight: bold;
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.5rem;
}

.header {
  position: relative;
  top: 16vh;
  padding: 1.5rem 0rem;
  border: solid 1px red;
  color: $grey;
}

/*
 * Transition is not supported for the property of background-image
 * properties a and b and chaning their color values on hover are a walk around
 * this way the transition is smooth in and out.
*/ 

@property --a {
  syntax: '<color>';
  inherits: false;
  initial-value: $grey;
}

@property --b {
  syntax: '<color>';
  inherits: false;
  initial-value: $grey;
}

li {
  margin: 0 1rem;
  cursor: pointer;
  transition: ease-in-out --a 0.3s, ease-in-out --b 0.3s;
  background-image: linear-gradient(to right, var(--a), var(--b));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  &:hover {
    --a: #b8296c;
    --b: #791847;
  }
}

// * end *

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}



