@use "../../styles/helper" as *;

.carousel {
  position: relative;
  display: flex;
  vertical-align: middle;
  overflow: hidden;
  width: 100%;
  align-items: center;
  text-align: center;


  &__leftArrow {
    position: absolute;
    font-size: 2rem;
    left: 0;
    cursor: pointer;
  }

  &__rightArrow {
    position: absolute;
    font-size: 2rem;
    right: 0;
    cursor: pointer;
  }

  &__frame {
    width: 90vw;
    margin: auto;
    overflow-x: hidden;
    white-space: nowrap;

  }
}

/*
* with has to be adjusted in media queries to meet the space of different screen sizes. In Carousel.jsx a variable desribing the view size is *** translateFrame *** /line 64/
*/
.frame {
  height: 100%;
  width: 25%;
  display: inline-block;
  vertical-align: top;

}

.movie {
  position: relative;

  &__image {
    max-width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  &__tag {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, $light-pink, $dark-pink);
    font-size: 0.7rem;
    padding: 5px;
    max-width: 60%;
  }

  &__details {
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    &__span {
      width: 80%;
      text-align: center;
      transition: background-color ease-in-out 0.3s;
      &:hover {
        background-color: rgba(60, 60, 60, 0.6);
      }
    }
  }

  &__trailer {
    position: absolute;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 10;
    transition: color ease-in-out 0.5s;
    &:hover {
      color: $primary;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(116, 116, 116, 0.6);
    border: solid 2px $grey;
    width: 100%;
    height: 99%;
    content: " ";
    z-index: 8;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    &:hover {
      opacity: 1;
    }
  }
}