@use "../../styles/helper" as *;

.gradientBar {
  width: 100dvw;
  height: 65px;
  background: rgba(0, 0, 0, 0) linear-gradient(to top, #050505 0%, #222222 100%) repeat scroll 0 0;
  display: flex;
  align-items: center;
}

.theaters {

  text-transform: uppercase;
  cursor: pointer;
  &__dropdown {
    position: relative;
    display: inline-block;
    
    &__activeLocation {
      display: flex;
      justify-content: space-between;
      color: $primary;
      border-bottom: solid 1px $grey;
      width: 40dvw;
      
    }
    &__locationsList {
      display: none;
      position: absolute;
      line-height: 2rem;
      background-color: $black;
      width: 40dvw;
      border: solid 1px $grey;
      padding: 1rem;
    }
    &:focus &__locationsList {
      display: block;
    }
  }
}