@use "../../styles/helper" as *;

@property --a {
  syntax: '<color>';
  inherits: false;
  initial-value: $grey;
}
@property --b {
  syntax: '<color>';
  inherits: false;
  initial-value: $grey;
}

.header {
  background-color: $black;
  height: $header-height;
  padding: 1rem;

  &__content {
    height: 100%;
    margin: 0 auto;
    color: $grey;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;

    &__toggle {
      cursor: pointer;
    }

    &__logo {
      font-size: 1.5rem;
      color: $primary;
      font-weight: bold;
      font-family: 'Alfa Slab One';
    }

    &__list {
      display: flex;
      gap: 2rem;
      li {
        transition: ease-in-out --a 0.3s, ease-in-out --b 0.3s;
        background-image: linear-gradient(to right, var(--a), var(--b));
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        &:hover {
          --a: #b8296c;
          --b: #791847;
        }
      }
    }

    &__navMobile {
      @media (min-width: $bp-large) {
        display: none;
      }
    }

    &__navDesktop {
      display: none;
      @media (min-width: $bp-large) {
        display: contents;
      }
    }

    &__account {
      color: $white;
      position: relative;
      top: 25%;

      padding: 0.75rem 1rem;
      margin-right: 4rem;
      &:hover .header__content__accountDropdown {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }
    }

    &__accountDropdown {
      text-transform: none;
      width: 200px;
      height: 100px;
      position: absolute;
      top: calc(100% + 0.1rem);
      left: -40%;
      padding: 1rem;
      background-color: $dark-grey;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-10px);
      transition: opacity ease-in-out 0.3s, transform ease-in-out 0.3s;
      &::before {
        content: '';
        position: absolute;
        top: -25%;
        left: 70%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent $dark-pink transparent;
      }
      li {
        padding: 0.25rem;
        a {
          transition: color ease-in-out 0.5s;
          &:hover {
            color: $grey;
          }
        }
      }
    }
  }
}

.user__icon {
  font-size: 1.25rem;
  position: relative;
  top: 0.15rem;
}