@use "../../styles/helper" as *;

$header-height: 65px;

@mixin navigation-bar() {
  color: $grey;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    li {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
}

header.header {
  background-color: $black;
  position: relative;
  height: $header-height;
  line-height: $header-height;
}

.nav-container {
  display: flex;
  justify-content: end;
  padding: 0 2rem;
}


header.header .header__logo-wrapper {
  margin-right: auto;
  position: absolute;
  left: 0;
}

.header__logo-wrapper--logo {
  color: $logo;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Alfa Slab One', cursive;
}

.header__sitenav--mobile {
  @include navigation-bar();
    li {
      transition: color ease-in-out 0.4s;
      &:hover {
        color: $white;
      }
      .header__sitenav--toggle-icon {
        position: relative;
        top: 0.1rem;
        left: 0.1rem;
        color: $white;
      }
    }
}

@property --a {
  syntax: '<color>';
  inherits: false;
  initial-value: $grey;
}
@property --b {
  syntax: '<color>';
  inherits: false;
  initial-value: $grey;
}

.header__sitenav {
  @include navigation-bar();
  display: none;
  li {
    margin-right: 1rem;
    transition: ease-in-out --a 0.3s, ease-in-out --b 0.3s;
    background-image: linear-gradient(to right, var(--a), var(--b));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &:hover {
      --a: #b8296c;
      --b: #791847;
    }
  }
}

.header__sitenav--dropdown-login {
  display: none;
  color: white;
  text-transform: uppercase;
  &:hover .menu__dropdown--list {
    display: block;
  }
}

.profile {
  color: $white;
  border: 4px solid;
  border-image-source: linear-gradient(90deg, $pink-light, $pink-dark);
  border-image-slice: 1;
  padding: 0 1rem;
  margin-top: 0.75rem;
  cursor: pointer;
}

.profile__details__account {
  letter-spacing: 0.15rem;
}

.icon {
  position: relative;
  top: 0.2rem;
  margin-right: 0.5rem;
}

.icon-account {
  font-size: 1.3rem;
}

.menu__dropdown {
  position: relative;
}

.menu__dropdown--list {
  position: absolute;
  top: 100%;
  right: 4rem;
  background-color: $grey-dark;
  color: $white;
  width: 12rem;
  padding: 1rem;
  display: none;
  a {
    color: $white;
  }
}

@media (min-width: $breakpoint-large) {
  .nav-container {
    width: 80%;
    justify-content: space-around;
    margin-left: 10rem;
  }
  .header__sitenav--mobile {
    display: none;
  }
  .header__sitenav {
    display: contents;

  }
  .header__sitenav--dropdown-login {
    display: contents;
  }
}
