@use "../../../styles/helper/" as *;

.login {
  &__header {
    margin: 1rem auto;
    width: 80%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
    margin: auto;

    &__submit {
      all: unset;
      height: 3rem;
      text-align: center;
      background: linear-gradient(90deg, #c8006d, #a60059 48%, #7a0042);
    }
  }

  &__mockData {

    text-transform: none;
    margin: 1rem auto;
    width: 80%;

    &__user {
      margin: 2rem 0;
    }
  }
}