@use "helper" as *;
@use "../components/TopBanner/TopBanner.scss" as *;
@use "../components/Header/Header.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
  background-color: black;
  font-family: 'Barlow', sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: black;
  color:white;
  margin-top:10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}