@use "helper" as *;

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


h2 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  color: $white;
}

.container {
  padding: $padding-medium; 
  
  @media screen and (max-width: $breakpoint-small) {
    padding: $padding-small;
  }

  @media screen and (min-width: $breakpoint-large) {
    padding: $padding-large;
  }

  @media screen and (min-width: $breakpoint-xlarge) {
    padding: $padding-xlarge;
  }
}

.btn {
  border-right: 3px solid $dark-pink;
  border-left: 3px solid $light-pink;
  position: relative;
  padding: 0.5rem 1rem;
  border-radius: 0.2em;
  cursor: pointer;
}

.btn:after, .btn:before {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  height: 3px;
  background: $light-pink;
  background: -moz-linear-gradient(left, $light-pink, $pink 48%, $dark-pink 100%);
  background: -webkit-linear-gradient(left, $light-pink, $pink 48%, $dark-pink);
  background: linear-gradient(90deg, $light-pink, $pink 48%, $dark-pink);
}

.btn:before {
  top: 0;
}

.btn:after {
  bottom: 0;
}