$grey: rgb(150 150 150);
$logo: rgb(217 50 137);
$pink-light: #b8296c;
$pink-dark: #791847;


@mixin gradient-fill {
  position: relative;
  color: transparent; 
  background-image: linear-gradient(to right, $pink-light, $pink-dark);
  -webkit-background-clip: text;
  background-clip: text;
}

