@use "../../styles/helper" as *;

.films__header {
  width: 92dvw;
  display: flex;
  margin: 0 auto;
  gap: 2rem;

}

.film {
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
  width: 95dvw;
  margin: auto;
  h1 {
    letter-spacing: 0.2rem;
  }
  p {
    max-width: 80%;
  }

  ul {
    display: flex;
    gap: 0.5rem;
  }
}

.poster__wrapper {
  width: calc(50% - 1rem);
  img {
    width: 100%;
  }
}
